*{
margin: 0%;
padding: 0%;
background-color: #00413D;
}

.p-f{
    font-size: xx-large;
    font-family: Georgia;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.img-1{
    display: block;
    margin: auto;
    width: 30%;
}

.sec-1{
    display: block;
    margin: auto;
}

.lista-1{
    display: flex;
    list-style: none;
}

.li-1{
color: white;
background-color: #0A5B56;
width: auto;
height: 20px;
border: solid white 1px;
border-radius: 20%;
padding: 1%;
}

.li-2{
    width: auto;
}

.img-2{
    width: 20%;
}

.li-3{
color: white;
background-color: #0A5B56;
width: auto;
height: 20px;
border: solid white 1px;
border-radius: 20%;
padding: 1%;
}